# Data Pre-processing

**Import datasets into python**

In [ ]:
import pandas as pd
match_df = pd.read_csv(r"PATH TO AGG DATASET")
match_df

,date,game_size,match_id,match_mode,party_size,player_assists,player_dbno,player_dist_ride,player_dist_walk,player_dmg,player_kills,player_name,player_survive_time,team_id,team_placement
0,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,1,2870.724000,1784.847780,117,1,SnuffIes,1106.320,4,18
1,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,1,2938.407230,1756.079710,127,1,Ozon3r,1106.315,4,18
2,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,0.000000,224.157562,67,0,bovize,235.558,5,33
3,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,0.000000,92.935150,0,0,sbahn87,197.553,5,33
4,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,2619.077390,2510.447000,175,2,GeminiZZZ,1537.495,14,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13849282,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,1,1,0.000000,107.555237,187,0,YoungPee,174.608,20,39
13849283,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,0,0,592.562439,571.859300,51,0,KnightShade_13,355.901,31,29
13849284,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,0,1,900.445100,454.024000,73,1,XxXRynumXxX,355.896,31,29
13849285,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,0,1,0.000000,36.453487,99,1,Unknown0311,128.873,35,32
13849286,2018-01-04T04:12:58+0000,46,2U4GBNA0YmlWc_jEcSfkfTtWimxqUoNXDijilJ0EXsIlud...,tpp,2,0,1,0.000000,304.118866,200,2,DoctorHrmm,299.494,35,32

In [ ]:
kill_df = pd.read_csv(r"PATH TO KILL DATASET")
kill_df

,killed_by,killer_name,killer_placement,killer_position_x,killer_position_y,map,match_id,time,victim_name,victim_placement,victim_position_x,victim_position_y
0,Grenade,KrazyPortuguese,5.0,657725.10,146275.2,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,823,KrazyPortuguese,5.0,657725.10,146275.2
1,SCAR-L,nide2Bxiaojiejie,31.0,93091.37,722236.4,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,194,X3evolution,33.0,92238.68,723375.1
2,S686,Ascholes,43.0,366921.40,421623.9,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,103,CtrlZee,46.0,367304.50,421216.1
3,Down and Out,Weirdo7777,9.0,472014.20,313274.8,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,1018,BlackDpre,13.0,476645.90,316758.4
4,M416,Solayuki1,9.0,473357.80,318340.5,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,1018,Vjolt,13.0,473588.50,318418.8
...,...,...,...,...,...,...,...,...,...,...,...,...
13426343,Bluezone,NaN,NaN,NaN,NaN,ERANGEL,2U4GBNA0YmkTZQvSzreuDJjVgxqK1nIRqCKc5yGZ5INIVZ...,1519,Carmen_Amy,28.0,165267.30,601221.8
13426344,Down and Out,Subastral,9.0,298162.80,501961.7,ERANGEL,2U4GBNA0YmkTZQvSzreuDJjVgxqK1nIRqCKc5yGZ5INIVZ...,1086,JimmyChiu_,28.0,299201.80,504790.9
13426345,SCAR-L,TingFg,20.0,447251.20,628701.7,ERANGEL,2U4GBNA0YmkTZQvSzreuDJjVgxqK1nIRqCKc5yGZ5INIVZ...,327,LYB_LaoJ,19.0,447025.30,628270.8
13426346,SCAR-L,OldBlack6,3.0,152108.80,315162.6,ERANGEL,2U4GBNA0YmkTZQvSzreuDJjVgxqK1nIRqCKc5yGZ5INIVZ...,624,jaydenhuang07,11.0,152887.40,315209.8
13426347,Down and Out,liuyang23,19.0,446082.90,627984.4,ERANGEL,2U4GBNA0YmkTZQvSzreuDJjVgxqK1nIRqCKc5yGZ5INIVZ...,344,TingFg,20.0,447621.90,628611.0

**1.Data Reduction (Sampling - selecting a random subset of the original data for analysis):** 
    <br/>
>Delete rows while keeping only the first 10000 rows for both datasets to use

In [25]:
match_df.drop(match_df.index[10000:], inplace=True)
match_df

,date,game_size,match_id,match_mode,party_size,player_assists,player_dbno,player_dist_ride,player_dist_walk,player_dmg,player_kills,player_name,player_survive_time,team_id,team_placement
0,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,1,2870.72400,1784.847780,117,1,SnuffIes,1106.320,4,18
1,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,1,2938.40723,1756.079710,127,1,Ozon3r,1106.315,4,18
2,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,0.00000,224.157562,67,0,bovize,235.558,5,33
3,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,0.00000,92.935150,0,0,sbahn87,197.553,5,33
4,2017-11-26T20:59:40+0000,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,2619.07739,2510.447000,175,2,GeminiZZZ,1537.495,14,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2017-11-20T01:00:32+0000,29,2U4GBNA0Ymlm4JHKbbmQ9x9_rZbdELcOlVMjnXNbpV6MTm...,tpp,4,0,2,5947.79000,1629.568000,87,2,2thikk4u,1331.496,6,7
9996,2017-11-20T01:00:32+0000,29,2U4GBNA0Ymlm4JHKbbmQ9x9_rZbdELcOlVMjnXNbpV6MTm...,tpp,4,0,0,4421.93262,3212.797850,137,2,peckerpecker,1161.466,6,7
9997,2017-11-20T01:00:32+0000,29,2U4GBNA0Ymlm4JHKbbmQ9x9_rZbdELcOlVMjnXNbpV6MTm...,tpp,4,0,2,0.00000,873.056300,193,0,Bawngfist,361.651,6,7
9998,2017-11-20T01:00:32+0000,29,2U4GBNA0Ymlm4JHKbbmQ9x9_rZbdELcOlVMjnXNbpV6MTm...,tpp,4,0,1,0.00000,744.918152,87,1,Coots_McGoots,497.617,7,14
9999,2017-11-20T01:00:32+0000,29,2U4GBNA0Ymlm4JHKbbmQ9x9_rZbdELcOlVMjnXNbpV6MTm...,tpp,4,1,0,0.00000,670.910339,12,0,sbwwt,495.147,7,14

In [26]:
kill_df.drop(kill_df.index[10000:], inplace=True)
kill_df

,killed_by,killer_name,killer_placement,killer_position_x,killer_position_y,map,match_id,time,victim_name,victim_placement,victim_position_x,victim_position_y
0,Grenade,KrazyPortuguese,5.0,657725.10,146275.2,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,823,KrazyPortuguese,5.0,657725.10,146275.2
1,SCAR-L,nide2Bxiaojiejie,31.0,93091.37,722236.4,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,194,X3evolution,33.0,92238.68,723375.1
2,S686,Ascholes,43.0,366921.40,421623.9,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,103,CtrlZee,46.0,367304.50,421216.1
3,Down and Out,Weirdo7777,9.0,472014.20,313274.8,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,1018,BlackDpre,13.0,476645.90,316758.4
4,M416,Solayuki1,9.0,473357.80,318340.5,MIRAMAR,2U4GBNA0YmnLSqvEycnTjo-KT000vfUnhSA2vfVhVPe1QB...,1018,Vjolt,13.0,473588.50,318418.8
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,SKS,dragonfruitbamf,2.0,536215.70,365051.5,ERANGEL,2U4GBNA0YmnP7JxGpV6xH481nTM-AN2Ig_D_m3DRTNjINB...,1642,GodlessWeasel,6.0,527811.10,375679.6
9996,M416,lddoos,3.0,550700.40,364211.8,ERANGEL,2U4GBNA0YmnP7JxGpV6xH481nTM-AN2Ig_D_m3DRTNjINB...,1632,MrDrRobot,6.0,522475.80,375727.8
9997,Down and Out,Nan_P,3.0,507691.30,388946.0,ERANGEL,2U4GBNA0YmnP7JxGpV6xH481nTM-AN2Ig_D_m3DRTNjINB...,1608,KrispyyK,6.0,513487.80,377484.4
9998,Grenade,brentech,7.0,503235.20,351960.6,ERANGEL,2U4GBNA0YmnP7JxGpV6xH481nTM-AN2Ig_D_m3DRTNjINB...,1552,Shikodd,9.0,507682.20,354356.8
9999,SCAR-L,SwwH,13.0,447508.20,625632.6,ERANGEL,2U4GBNA0YmnP7JxGpV6xH481nTM-AN2Ig_D_m3DRTNjINB...,521,Defiant1X,20.0,447384.10,625920.0

**2.Change the victim names in victim_name to player1, player2,...**

In [27]:
print(kill_df['victim_name'])

0       KrazyPortuguese
1           X3evolution
2               CtrlZee
3             BlackDpre
4                 Vjolt
             ...
9995      GodlessWeasel
9996          MrDrRobot
9997           KrispyyK
9998            Shikodd
9999          Defiant1X
Name: victim_name, Length: 10000, dtype: object

In [28]:
y=0
x=1

for _ in kill_df['victim_name']:
    kill_df.loc[y, 'victim_name'] = (f"Player {x}")
    x = x+1
    y = y+1

print(kill_df['victim_name'])

0           Player 1
1           Player 2
2           Player 3
3           Player 4
4           Player 5
            ...
9995     Player 9996
9996     Player 9997
9997     Player 9998
9998     Player 9999
9999    Player 10000
Name: victim_name, Length: 10000, dtype: object

**3.Data Reduction (Feature selection - selecting a subset of the original features that are most relevant to the analysis):**
    <br/>
>Delete map 'MIRAMAR' while keeping map 'ERANGEL' in kill_df Display the column "map" consisting of both MIRAMAR and ERANGEL maps

In [29]:
print(kill_df['map'])

0       MIRAMAR
1       MIRAMAR
2       MIRAMAR
3       MIRAMAR
4       MIRAMAR
         ...
9995    ERANGEL
9996    ERANGEL
9997    ERANGEL
9998    ERANGEL
9999    ERANGEL
Name: map, Length: 10000, dtype: object

In [30]:
kill_df = kill_df[kill_df.map != 'MIRAMAR']
print(kill_df['map'])

179     ERANGEL
180     ERANGEL
181     ERANGEL
182     ERANGEL
183     ERANGEL
         ...
9995    ERANGEL
9996    ERANGEL
9997    ERANGEL
9998    ERANGEL
9999    ERANGEL
Name: map, Length: 8516, dtype: object

**4.Data cleaning (Smooth Noisy Data - removing noise from a data set, allowing important patterns to stand out):**
<br/>
>Clean the date to ie. 2017-11-20

In [31]:
print(match_df['date'])

0       2017-11-26T20:59:40+0000
1       2017-11-26T20:59:40+0000
2       2017-11-26T20:59:40+0000
3       2017-11-26T20:59:40+0000
4       2017-11-26T20:59:40+0000
                  ...
9995    2017-11-20T01:00:32+0000
9996    2017-11-20T01:00:32+0000
9997    2017-11-20T01:00:32+0000
9998    2017-11-20T01:00:32+0000
9999    2017-11-20T01:00:32+0000
Name: date, Length: 10000, dtype: object

In [32]:
match_df['date'] = match_df['date'].astype(str).str[:10]
print(match_df['date'])

0       2017-11-26
1       2017-11-26
2       2017-11-26
3       2017-11-26
4       2017-11-26
           ...
9995    2017-11-20
9996    2017-11-20
9997    2017-11-20
9998    2017-11-20
9999    2017-11-20
Name: date, Length: 10000, dtype: object

**5.Data Transformation (Data normalisation - standardizing the data to a common scale or range):**
<br/>
>Convert 'player_survive_time' and 'time' in seconds to time in minutes, ie. 75 seconds = 1.25 min

In [33]:
print(match_df['player_survive_time'])

0       1106.320
1       1106.315
2        235.558
3        197.553
4       1537.495
          ...
9995    1331.496
9996    1161.466
9997     361.651
9998     497.617
9999     495.147
Name: player_survive_time, Length: 10000, dtype: float64

In [34]:
match_df['player_survive_time'] = match_df['player_survive_time'] /60
print(match_df['player_survive_time'])

0       18.438667
1       18.438583
2        3.925967
3        3.292550
4       25.624917
          ...
9995    22.191600
9996    19.357767
9997     6.027517
9998     8.293617
9999     8.252450
Name: player_survive_time, Length: 10000, dtype: float64

In [35]:
print(kill_df['time'])

179     1035
180     1035
181     1422
182     1210
183     1818
        ...
9995    1642
9996    1632
9997    1608
9998    1552
9999     521
Name: time, Length: 8516, dtype: int64

In [36]:
kill_df['time'] = kill_df['time'] /60
print(kill_df['time'])

179     17.250000
180     17.250000
181     23.700000
182     20.166667
183     30.300000
          ...
9995    27.366667
9996    27.200000
9997    26.800000
9998    25.866667
9999     8.683333
Name: time, Length: 8516, dtype: float64

C:\Users\Justin\AppData\Local\Temp\ipykernel_15512\13429439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kill_df['time'] = kill_df['time'] /60

**6.Data cleaning (Checking missing values):**
<br/>
>Show duplictes, NaN and empty values and clean the values
<br/>

Check for duplicated values in match_df and kill_df

In [37]:
match_df.duplicated().sum()

0

In [38]:
kill_df.duplicated().sum()

0

--> Since there are no duclipated values, we do not need to delete them
<br/>
<br/>
<br/>
Check Null values inside match_df

In [39]:
match_df.isnull().sum()

date                    0
game_size               0
match_id                0
match_mode              0
party_size              0
player_assists          0
player_dbno             0
player_dist_ride        0
player_dist_walk        0
player_dmg              0
player_kills            0
player_name            13
player_survive_time     0
team_id                 0
team_placement          0
dtype: int64

--> There are 13 Null values at column "Player_name"

Check Null values inside kill_df

In [40]:
kill_df.isnull().sum()

killed_by              0
killer_name          611
killer_placement     611
killer_position_x    611
killer_position_y    611
map                   97
match_id               0
time                   0
victim_name            0
victim_placement     186
victim_position_x      0
victim_position_y      0
dtype: int64

--> There are 611 Null values at column

>"killer_name"
<br/>
>"killer_placement"
<br/>
>"killer_position_x"
<br/>
>"killer_position_y"


--> There are 97 Null values and 186 Null values at columns

>"map"
<br/>
>"victim_placement"

**7.Data cleaning (Handling missing values - Replacing missing values with a constant):**
<br/>
>Change the null values at column "player_name" to “unknown”

In [41]:
match_df['player_name'].fillna('unknown', inplace=True)
match_df.isnull().sum()

date                   0
game_size              0
match_id               0
match_mode             0
party_size             0
player_assists         0
player_dbno            0
player_dist_ride       0
player_dist_walk       0
player_dmg             0
player_kills           0
player_name            0
player_survive_time    0
team_id                0
team_placement         0
dtype: int64

Display rows that consist Null value killer_name

In [42]:
null_rows = kill_df[kill_df["killer_name"].isna()]
(null_rows)

,killed_by,killer_name,killer_placement,killer_position_x,killer_position_y,map,match_id,time,victim_name,victim_placement,victim_position_x,victim_position_y
187,Down and Out,NaN,NaN,NaN,NaN,ERANGEL,2U4GBNA0YmnRe95wOy7kuweIkuZo5Roa0WjNZsgboi2gzz...,27.433333,Player 188,8.0,475198.1,426731.2
204,Bluezone,NaN,NaN,NaN,NaN,ERANGEL,2U4GBNA0YmnRe95wOy7kuweIkuZo5Roa0WjNZsgboi2gzz...,27.433333,Player 205,8.0,468805.0,430984.8
209,Bluezone,NaN,NaN,NaN,NaN,ERANGEL,2U4GBNA0YmnRe95wOy7kuweIkuZo5Roa0WjNZsgboi2gzz...,29.800000,Player 210,4.0,498605.2,442824.2
223,Bluezone,NaN,NaN,NaN,NaN,ERANGEL,2U4GBNA0YmnRe95wOy7kuweIkuZo5Roa0WjNZsgboi2gzz...,31.116667,Player 224,2.0,503327.2,426248.7
229,Bluezone,NaN,NaN,NaN,NaN,ERANGEL,2U4GBNA0YmnRe95wOy7kuweIkuZo5Roa0WjNZsgboi2gzz...,22.716667,Player 230,40.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9940,Bluezone,NaN,NaN,NaN,NaN,ERANGEL,2U4GBNA0Yml3Tos6nrlUNhrFTSpEFwANNAnIUrRGhVYsH7...,31.466667,Player 9941,2.0,128437.4,388790.9
9955,Drown,NaN,NaN,NaN,NaN,ERANGEL,2U4GBNA0Yml3Tos6nrlUNhrFTSpEFwANNAnIUrRGhVYsH7...,16.250000,Player 9956,23.0,284318.3,276540.6
9957,Drown,NaN,NaN,NaN,NaN,ERANGEL,2U4GBNA0Yml3Tos6nrlUNhrFTSpEFwANNAnIUrRGhVYsH7...,4.300000,Player 9958,37.0,342167.7,532223.9
9958,Bluezone,NaN,NaN,NaN,NaN,ERANGEL,2U4GBNA0Yml3Tos6nrlUNhrFTSpEFwANNAnIUrRGhVYsH7...,18.333333,Player 9959,22.0,366638.9,411980.6
9970,Down and Out,NaN,NaN,NaN,NaN,ERANGEL,2U4GBNA0Yml3Tos6nrlUNhrFTSpEFwANNAnIUrRGhVYsH7...,23.583333,Player 9971,13.0,200591.5,383582.4

Display the row shape consist null value killer_name

In [43]:
null_rows.shape

(611, 12)

--> we know that 611 of the null value killer_name
is caused by bluezone, drown, naz, drop and down which is not by a real human enemy. Therefore the killer_name is presented as null
<br/>
<br/>

Replace Null values at column "killer_name" to unknown

In [44]:
kill_df['killer_name'].fillna('unknown', inplace=True)

C:\Users\Justin\AppData\Local\Temp\ipykernel_15512\775270850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kill_df['killer_name'].fillna('unknown', inplace=True)

In [45]:
kill_df.isnull().sum()

killed_by              0
killer_name            0
killer_placement     611
killer_position_x    611
killer_position_y    611
map                   97
match_id               0
time                   0
victim_name            0
victim_placement     186
victim_position_x      0
victim_position_y      0
dtype: int64

Delete row that consist null values in victim_placement

In [46]:
kill_df.dropna(subset = ["victim_placement"] , inplace=True)
kill_df.dropna(subset = ["map"] , inplace=True)
kill_df.isnull().sum()

C:\Users\Justin\AppData\Local\Temp\ipykernel_15512\2244949287.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kill_df.dropna(subset = ["victim_placement"] , inplace=True)
C:\Users\Justin\AppData\Local\Temp\ipykernel_15512\2244949287.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kill_df.dropna(subset = ["map"] , inplace=True)

killed_by              0
killer_name            0
killer_placement     604
killer_position_x    604
killer_position_y    604
map                    0
match_id               0
time                   0
victim_name            0
victim_placement       0
victim_position_x      0
victim_position_y      0
dtype: int64

--> Only the killer_name with null values is cleaned
This is because the killer_placement, killer_position x and y are qualitative data and thus cannot be measured into a value

In [47]:
match_df.isnull().sum()

date                   0
game_size              0
match_id               0
match_mode             0
party_size             0
player_assists         0
player_dbno            0
player_dist_ride       0
player_dist_walk       0
player_dmg             0
player_kills           0
player_name            0
player_survive_time    0
team_id                0
team_placement         0
dtype: int64

**8.Dsiplay the final version of our cleaned datasets**

In [50]:
match_df

,date,game_size,match_id,match_mode,party_size,player_assists,player_dbno,player_dist_ride,player_dist_walk,player_dmg,player_kills,player_name,player_survive_time,team_id,team_placement
0,2017-11-26,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,1,2870.72400,1784.847780,117,1,SnuffIes,18.438667,4,18
1,2017-11-26,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,1,2938.40723,1756.079710,127,1,Ozon3r,18.438583,4,18
2,2017-11-26,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,0.00000,224.157562,67,0,bovize,3.925967,5,33
3,2017-11-26,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,0.00000,92.935150,0,0,sbahn87,3.292550,5,33
4,2017-11-26,37,2U4GBNA0YmnNZYkzjkfgN4ev-hXSrak_BSey_YEG6kIuDG...,tpp,2,0,0,2619.07739,2510.447000,175,2,GeminiZZZ,25.624917,14,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2017-11-20,29,2U4GBNA0Ymlm4JHKbbmQ9x9_rZbdELcOlVMjnXNbpV6MTm...,tpp,4,0,2,5947.79000,1629.568000,87,2,2thikk4u,22.191600,6,7
9996,2017-11-20,29,2U4GBNA0Ymlm4JHKbbmQ9x9_rZbdELcOlVMjnXNbpV6MTm...,tpp,4,0,0,4421.93262,3212.797850,137,2,peckerpecker,19.357767,6,7
9997,2017-11-20,29,2U4GBNA0Ymlm4JHKbbmQ9x9_rZbdELcOlVMjnXNbpV6MTm...,tpp,4,0,2,0.00000,873.056300,193,0,Bawngfist,6.027517,6,7
9998,2017-11-20,29,2U4GBNA0Ymlm4JHKbbmQ9x9_rZbdELcOlVMjnXNbpV6MTm...,tpp,4,0,1,0.00000,744.918152,87,1,Coots_McGoots,8.293617,7,14
9999,2017-11-20,29,2U4GBNA0Ymlm4JHKbbmQ9x9_rZbdELcOlVMjnXNbpV6MTm...,tpp,4,1,0,0.00000,670.910339,12,0,sbwwt,8.252450,7,14

In [51]:
kill_df

,killed_by,killer_name,killer_placement,killer_position_x,killer_position_y,map,match_id,time,victim_name,victim_placement,victim_position_x,victim_position_y
179,Down and Out,Malcolm_x,9.0,496989.8,312569.7,ERANGEL,2U4GBNA0YmnRe95wOy7kuweIkuZo5Roa0WjNZsgboi2gzz...,17.250000,Player 180,22.0,497385.4,331528.2
180,M16A4,Malcolm_x,9.0,496989.8,312569.7,ERANGEL,2U4GBNA0YmnRe95wOy7kuweIkuZo5Roa0WjNZsgboi2gzz...,17.250000,Player 181,22.0,497819.4,331981.3
181,AKM,G_Berg,7.0,460416.7,414748.8,ERANGEL,2U4GBNA0YmnRe95wOy7kuweIkuZo5Roa0WjNZsgboi2gzz...,23.700000,Player 182,16.0,459817.9,414426.3
182,AKM,Lukesnake17,20.0,488034.1,347220.3,ERANGEL,2U4GBNA0YmnRe95wOy7kuweIkuZo5Roa0WjNZsgboi2gzz...,20.166667,Player 183,9.0,487444.2,347651.0
183,SKS,AlooGobi,2.0,501062.9,425078.6,ERANGEL,2U4GBNA0YmnRe95wOy7kuweIkuZo5Roa0WjNZsgboi2gzz...,30.300000,Player 184,3.0,493043.4,434458.1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,SKS,dragonfruitbamf,2.0,536215.7,365051.5,ERANGEL,2U4GBNA0YmnP7JxGpV6xH481nTM-AN2Ig_D_m3DRTNjINB...,27.366667,Player 9996,6.0,527811.1,375679.6
9996,M416,lddoos,3.0,550700.4,364211.8,ERANGEL,2U4GBNA0YmnP7JxGpV6xH481nTM-AN2Ig_D_m3DRTNjINB...,27.200000,Player 9997,6.0,522475.8,375727.8
9997,Down and Out,Nan_P,3.0,507691.3,388946.0,ERANGEL,2U4GBNA0YmnP7JxGpV6xH481nTM-AN2Ig_D_m3DRTNjINB...,26.800000,Player 9998,6.0,513487.8,377484.4
9998,Grenade,brentech,7.0,503235.2,351960.6,ERANGEL,2U4GBNA0YmnP7JxGpV6xH481nTM-AN2Ig_D_m3DRTNjINB...,25.866667,Player 9999,9.0,507682.2,354356.8
9999,SCAR-L,SwwH,13.0,447508.2,625632.6,ERANGEL,2U4GBNA0YmnP7JxGpV6xH481nTM-AN2Ig_D_m3DRTNjINB...,8.683333,Player 10000,20.0,447384.1,625920.0

**9.Save the dataset to new csv as finished version for later use**

In [52]:
match_df.to_csv('final_agg_match_stats.csv', index=False)

In [53]:
kill_df.to_csv('final_kill_match_stats.csv', index=False)